@import '~antd/dist/antd.css';
:root{
  --body-color:#fbfbfb;
  --primary-color:#1890ff;
  --z-index--navbar:10;
  --card-width:250px;
  --card-border-radius:16px;
  --row-increment:10px;
  --card-small:26;
  --card-medium:33;
  --card-large:45;
}


body{
  background-color: #fbfbfb;
  .page{
    padding-top:64px;
    .container{
      margin:0 auto;
      width: 1140px;
    }
  }
}

.grid{
  display:grid;
}

@media screen and (max-width: 1200px) {
  .container{
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container{
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .container{
    max-width: 540px;
  }
}

@media screen and (max-width: 567px) {
  .container{
    max-width: 100%;
  }
}

// MANSORY CSS

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  //margin-left: -20px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}


/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 20px;
}







